/vendor/
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/logs/*
/storage/temp/*
/bootstrap/cache/*
/.env
/.env.example
/node_modules
/public/build/
/public/hot
/Dockerfile
.docker-compose.yml
graphify-out/cost.json
graphify-out/cache/
graphify-out/2026-*

# PHPUnit
.phpunit.result.cache
